body {
  background: linear-gradient(
    90deg,
    rgba(7, 3, 71, 1) 0%,
    rgba(18, 18, 142, 1) 46%,
    rgba(6, 157, 187, 1) 100%
  );
  text-align: center;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-family: "Varela Round", sans-serif;
  color: black;
}

.input {
  outline: none;
  border: transparent 1px;
  padding: 10px;
  height: 38px;
  width: 50%;
  margin: 0px 15px;
  border-radius: 5px;
  font-size: 17px;
}
.navbar {
  padding: 0px;
  /* font-family: "Varela Round", sans-serif; */
  color: #f9f9f9;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navlogo {
  background: #18232b;
  border-radius: 45%;
  height: 40px;
  width: 40px;
}

.button {
  outline: none;
  border: transparent 1px;
  padding: 8px 18px;
  height: 40px;
  /* width: 85px; */
  margin: 5px;
  font-size: 17px;
  background-color: rgb(6 150 185);
  border-radius: 7px;
  color: #f9f9f9;
  border: 0.5px solid transparent;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

button:hover {
  background-color: transparent;
  border-color: rgb(6 150 185);
}

.locationForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataIcon {
  border-radius: 50%;
  background: #222e2e;
}

.weather-description h3 {
  font-weight: 600;
  color: #0794b8;
  font-size: 1.5rem;
}

.weather-description {
  font-weight: 300;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 500;
}

.location {
  font-size: 2rem;
  font-weight: 500;
}

.header-div {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-size: 1.7rem;
  background: rgb(23 117 155 / 82%);
  /* margin: 1rem 3.5rem 1rem 3.5rem; */
  padding: 4px 0 20px 0;
  border-radius: 7px;
  /* filter: blur(1px); */
  box-shadow: 1px 1px 15px -3px;
}

.data {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  background: white;
  text-align: center;
}

.data-mb {
  margin-bottom: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.value {
  font-weight: 500;
  color: #222e2e;
}

@media screen and (min-width: 768px) {
  .weather-description {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .header-div {
    width: 98%;
    margin: 0.5rem auto;
  }
  .data {
    padding: 0.5rem 0;
  }
  .input {
    width: 70% !important;
    margin: 0px 5px !important;
  }
}

.dbtn{
  height:40px;
  width:40px;
}

.footer {
  background-color: #105587;
  font-size: 1rem;
  position: fixed;
  color: #f9f9f9;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  /* font-family: "Varela Round", sans-serif; */
}

h6.notFoundText {
  color: rgb(255, 255, 255);
}

h6.notFoundTextError {
  color: rgb(255, 255, 255);
  text-shadow: 0.5px 0.5px 0.5px black;
  font-size: 18px;
}

ion-icon {
  font-size: 3rem;
  transition: all 1s ease-in;
}